[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
"python-language-server[all]" = "*"
django-lint = "*"

[packages]
django = "*"
apscheduler = "*" # https://apscheduler.readthedocs.io/en/latest
requests = "*"
psycopg2-binary = "*"
uwsgi = "*"
graphene-django = "*"
django-filter = "*"
social-auth-app-django = "*"

[requires]
python_version = "3.7"

[scripts]
# 開発用サーバー起動
server = "python manage.py runserver 0.0.0.0:8080"

# TypeScriptのGraphQLの型定義を生成する
# see https://docs.graphene-python.org/projects/django/en/latest/introspection/#usage
# see https://medium.com/open-graphql/automatically-generate-typescript-definitions-for-graphql-queries-with-apollo-codegen-e73eae72b561
update_gql = "bash -xc 'python manage.py graphql_schema --schema hottip.schema.schema --out schema.json && (cd frontend; yarn run apollo codegen:generate --localSchemaFile=../schema.json --target=typescript --includes=src/graphql/*.ts --tagName=gql --no-addTypename types)'"
